body {
  margin-bottom: 300px;
  margin: 0px;
}
.fundo-principal{
  background-color: rgb(70, 79, 88);
}

#carouselExampleIndicators {
    box-shadow: 10px 10px 10px 10px black;
  max-height: 450px;   /* controla altura do carrossel */
  overflow: hidden;
}
#carouselExampleIndicators:hover{
  box-shadow: 10px 10px 10px 10px black;
  transform: translate(0px);
  transition: transform 0.9s ease box-shadow 0.9s ease;
  padding: 5px;
}
.carousel-item img {
  height: 450px;        /* controla altura da imagem */
  object-fit: cover;    /* evita distorção */
}

.cabecalho {
  background-color: #343232;
  color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  height: 70px;
}
.bi:hover{
  text-decoration: underline;
}

.cabecalho:hover {
  /* mudar o topo de cor quando mouse passar em cima*/
  background-color: gray;
}

.game {
  color: white;
}

.store {
  color: #0d6efd;
}

.menu a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.menu a:hover {
  text-decoration: underline;
  transform: translate(-10px);
  /*transição quando passar o mouse em cima do menu*/
  transition: transform 0.9s ease box-shadow 0.9s ease;
}

.banner {
  position: relative;
  box-shadow: 20px 20px 20px 20px;
}

.texto-banner {
  position: absolute;
  text-align: center;
  border-radius: 15px;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
  width: 20%;
  top: 10%;
  left: 5%;
  color: white;
}

.banner:hover {
  padding: 4px;
  transform: translate(0px);
  transition:
    transform 0.9s ease,
    padding 0.9s ease;
  background-color: #343232;
}

.vinte-e-seis {
  color: tomato;
}

.ofertas {
  background-color: #0d6efd;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}

.ofertas:hover {
  background-color: #1452af;
  padding: 15px;
  border-radius: 20px;
}
.card{
  background-color: slategray;
}

/* Transição quando passar em cima do card dos jogos */
.card:hover {
  transform: translateY(-10px);
  box-shadow: 8px 8px 10px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.9s ease, box-shadow 0.5s ease;
}

/* um espaçamento entre os cards */
.row {
  margin: 10px;
}

footer{
  background-color: #1452af;
}
.meio-footer{
  background-color: brown;
}